.box {
    margin: 0 5rem;
    background-color: white;
    height: 30rem;
    width: 30rem;
}

.body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.5rem;
}