h1 {
    font-size: 2.5rem;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 2rem 5rem;
}

.list ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    list-style: none;
}

.list li {
    margin: 0 1.5rem;
}

.listSocialMidia ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.listSocialMidia ul li {
    margin: 0 1rem;
}
